.header {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 57px;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.left-section {
    width: 150px;
    display: flex;
    align-items: center;
}

.middle-section {
    flex: 1;
    display: flex;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
}
/* flex: 1 will full occupy the space */

.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-right: 20px;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}

.youtube-logo {
    height: 20px;
    cursor: pointer;
}

.search {
    height: 40px;
    flex: 1;
    padding-left: 12px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset 0px 1px 2px #eeeeee;
    z-index: 100;
}

.search:focus {
    outline: 1px solid rgb(27, 170, 218);
}

.search::placeholder {
    font-family: "Roboto";
    font-size: 16px;
}

.search-button {
    height: 42px;
    width: 64px;
    border: 1px solid #cccccc;
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #f7f7f7;
    cursor: pointer;
    margin-right: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.search-icon {
    height: 24px;
    width: 24px;
}

.mic {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
}

.mic-icon {
    height: 24px;
    width: 24px;
}

.upload-container,
.youtube-apps-container,
.notification-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
}

.upload-container {
    margin-right: 20px;
}

.upload-icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
    position: absolute;
}

.youtube-apps-icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
    position: absolute;
}

.notifications-icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.profile-pic-image {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    cursor: pointer;
}

.notification-number {
    background-color: rgb(190, 0, 0);
    color: white;
    font-size: 10px;
    position: absolute;
    border-radius: 100%;
    padding: 1px 5px;
    z-index: 100;
    top: -3px;
    right: -7px;
    border: 2px solid white;
}

.tooltip {
    background-color: rgba(96, 96, 96, 0.9);
    color: white;
    font-size: 12px;
    padding: 8px;
    border-radius: 2px;
    position: absolute;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none; /* to disable tool tip display while hovering over tool tip */
    white-space: nowrap;
    z-index: 500;
}

.upload-container .tooltip,
.youtube-apps-container .tooltip {
    bottom: -50px;
}

.notification-icon-container .tooltip {
    bottom: -38px;
}

.search-button:hover .tooltip,
.mic:hover .tooltip,
.upload-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notification-icon-container:hover .tooltip {
    opacity: 1;
}

.search-button:hover,
.mic:hover {
    background-color: rgb(226, 226, 226);
}
